In [1]:
str = input("Enter your state of origin:")

print ("Your state of origin is: ", str)
print ("The first chararcter is: ", str[0])
print ("The characters starting from 3rd to 5th are: ", str[2:5])
print ("The string starting from 3rd character is: ", str[2:])
print ("State of origin two times", str*2)

Enter your state of origin:Lol
Your state of origin is:  Lol
The first chararcter is:  L
The characters starting from 3rd to 5th are:  l
The string starting from 3rd character is:  l
State of origin two times LolLol

In [2]:
#Input from user
m = float(input("Enter mass in kilograms: "))

# Constant value for the speed of light in m/s
c = 299792458

#Calculatin energy using Einstein's equation
energy = m * c ** 2 

#Displaying the result
print(f"The energy equivalent to {m} kg of mass is {energy} joules.")

Enter mass in kilograms: 10
The energy equivalent to 10.0 kg of mass is 8.987551787368177e+17 joules.

In [4]:
list = [ 'Anaconda', 786 , 2.23, 'Jupyter', 70.2]
shortlist = [321, 'Python']

print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(shortlist * 2)
print(list + shortlist)

['Anaconda', 786, 2.23, 'Jupyter', 70.2]
Anaconda
[786, 2.23]
[2.23, 'Jupyter', 70.2]
[321, 'Python', 321, 'Python']
['Anaconda', 786, 2.23, 'Jupyter', 70.2, 321, 'Python']

In [7]:
tuple = ("Ekiti", 750, 'Oshogbo', 250 , 'Akure', 500 )
s_tuple = ("Abeokuta", 300, 'Ogbomoso')

#Prints the complete tuple
print (tuple)

#Prints the last element of the tuple
print (tuple[-1])


#Prints element of the tuple from 3rd to 4th
print (tuple[2:4])

#Prints the elements of the tuple starting from the 4th
print (tuple[3:])

#Prints the elements of the tuple thrice
print (s_tuple*2)

#Prints concatenated tuples 
print (s_tuple + tuple)

('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500)
500
('Oshogbo', 250)
(250, 'Akure', 500)
('Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso')
('Abeokuta', 300, 'Ogbomoso', 'Ekiti', 750, 'Oshogbo', 250, 'Akure', 500)

In [8]:
#Returns false as game_1 is not equal to game_2
game_1 = 2
game_2 = 4
print(bool(game_1 == game_2)) 
#or 
print(game_1 == game_2)

#Return false as val is none
val = None
print(bool(val))

#Returns false as num is a empty sequence
num = ()
print(bool(num))

#Returns true as age is boolean
age = True
print(bool(age))

False
False
False
False
True

In [9]:
#convert to int

grade = int(70)
gpa = int(4.9)
cgpa = int("4")

print(f"grade = {grade}")
print(f"gpa = {gpa}")
print(f"cgpa = {cgpa}")

grade = 70
gpa = 4
cgpa = 4

In [11]:
#convert to float

grade = float(97)
gpa = float(5)
cgpa = float("4.7")

print(f"grade = {grade}")
print(f"gpa = {gpa}")
print(f"cgpa = {cgpa}")

grade = 97.0
gpa = 5.0
cgpa = 4.7